settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:eopk="http://code.google.com/p/eopk/"
	targetNamespace="http://code.google.com/p/eopk/">
	
	<xsd:element name="settings" type="eopk:SettingsList" />
	
	<xsd:complexType name="SettingsList">
		<xsd:sequence>
			<xsd:element name="setting" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>